<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MongoConnectionString" value="YOUR-MONGODB-CONNECTION-STRING-TO-DOCDB" />
    <add key="DatabaseName" value="cdc-stats" />
    <add key="CollectionName" value="city-deaths" />
  </appSettings>
</configuration>
